<div class="container">
    <h2>{{ isEditMode ? "Edit Restaurant" : "Add Restaurant" }}</h2>
    <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error *ngIf="restaurantForm.get('name').invalid">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required />
            <mat-error *ngIf="restaurantForm.get('description').invalid">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" required />
            <mat-error *ngIf="restaurantForm.get('location').invalid">Location is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Image URL</mat-label>
            <input matInput formControlName="imageUrl" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="restaurantForm.invalid">
            {{ isEditMode ? "Update" : "Add" }}
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/restaurants']">
            Cancel
        </button>
    </form>
</div>